@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:blanchedalmond;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family:'Quicksand', sans-serif;
}

#myBtn{
    padding: 6px 18px;
    font-size: 18px;
    background-color: white;
    color: black;
    font-size: bold;
    box-shadow: 0 0 5px 0.5px white;
    border: 2px solid teal;
    margin-top: 10px;
    :hover{
        color: red;
    }
}

#input{
    box-shadow: 0 0 5px 0.5px white;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid teal;

}
.container{
    // border: 2px solid red;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(72, 61, 61);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px black;
    padding: 20px;
}
.subject{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    font-size: 23px;
}
.top{
    display: flex;
    #input{
        width: 100%;
        font-size: 20px;
    }
}

#par{
    color: rgb(74, 250, 133);
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.description{
    color: white;
    font-size: 20px;
}